<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--2-col"></div>
  <div class="mdl-cell mdl-cell--8-col">
  <mdl-card class="demo-card-event" mdl-shadow="2">
    <mdl-card-title mdl-card-expand>

    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--4-col">
      <h4>
          <strong>First Step :</strong>
          </h4>
          <mdl-chip mdl-label="Learning Tajouid">
            <span mdl-chip-contact class="mdl-color--blue mdl-color-text--white">1</span>
          </mdl-chip>
          <mdl-chip mdl-label="Memorizing Amma">
            <span mdl-chip-contact class="mdl-color--blue mdl-color-text--white">2</span>
          </mdl-chip>
          <mdl-chip mdl-label="Learning Arabic">
            <span mdl-chip-contact class="mdl-color--blue mdl-color-text--white">3</span>
          </mdl-chip>
          <p>
            
          </p>

      </div>
      <div class="mdl-cell mdl-cell--8-col">
            <img src="http://image.shutterstock.com/z/stock-vector-cartoon-of-muslim-man-woman-greeting-ramadan-106077368.jpg" width="80%;">
      </div>
    </div>
    </mdl-card-title>
    <mdl-card-actions mdl-card-border>
            <mdl-layout-spacer></mdl-layout-spacer>
     <button mdl-button mdl-button-type="raised" mdl-colored="accent" mdl-ripple [routerLink]="['/level1']">
      Start now
      </button>
    </mdl-card-actions>
  </mdl-card>

  </div>
  <div class="mdl-cell mdl-cell--2-col"></div>
</div>