<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--2-col">
     <mdl-card class="demo-card-event" mdl-shadow="2">
    <mdl-card-title mdl-card-expand>
            <img src="http://image.shutterstock.com/z/stock-vector-cartoon-of-muslim-man-woman-greeting-ramadan-106077368.jpg" width="80%;">
    
    </mdl-card-title>
    <mdl-card-actions mdl-card-border>
            <mdl-layout-spacer></mdl-layout-spacer>
     <button mdl-button mdl-button-type="raised" mdl-colored="accent" mdl-ripple >
      Start now
      </button>
    </mdl-card-actions>
  </mdl-card>
  </div>
  <div class="mdl-cell mdl-cell--8-col">
  <mdl-card class="demo-card-event" mdl-shadow="2">
    <mdl-card-title mdl-card-expand>

    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--1-col">
        <mdl-icon>add</mdl-icon>
        <div style="width: 100px;">
          <mdl-slider min="1" max="50" value="30" ></mdl-slider>
        </div>
      </div>
      <div class="mdl-cell mdl-cell--10-col">a
        </div>
      <div class="mdl-cell mdl-cell--1-col">
          <select>
            <option value="2014">2014</option>
            <option value="2013">2013</option>
            <option value="2012">2012</option>
            <option value="2011">2011</option>
          </select>
      </div>
    </div>     
    </mdl-card-title>
    <mdl-card-actions mdl-card-border>
            <mdl-layout-spacer></mdl-layout-spacer>
     <button mdl-button mdl-button-type="raised" mdl-colored="accent" mdl-ripple >
      Start now
      </button>
    </mdl-card-actions>
  </mdl-card>
  </div>
  <div class="mdl-cell mdl-cell--2-col">
     <mdl-card class="demo-card-event" mdl-shadow="2">
    <mdl-card-title mdl-card-expand>
      <div>
      <button mdl-button mdl-button-type="fab" mdl-colored="accent" style="width:20%">
          <mdl-icon>mic</mdl-icon>
       </button>
       
       <br><br>
       <p>
         In order To complete this Chapter you should record and submit your voice here. We will be suprvising you. 
       </p>
      </div>
    </mdl-card-title>
    <mdl-card-actions mdl-card-border>
            <mdl-layout-spacer></mdl-layout-spacer>
     <button mdl-button mdl-button-type="raised" mdl-colored="accent" mdl-ripple >
      submit
      </button>
    </mdl-card-actions>
  </mdl-card>
  </div>
</div>
